<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <!-- Phần 1: Số điện thoại bên trái -->
                <div class="navbar-left">
                    <span class="navbar-text display-6">Hotline: 123-456-789</span>
                </div>

                
                <div class="mx-auto">
                    <a class="navbar-brand text-center font-weight-bold text-uppercase text-warning" href="/">
                        <span class="navbar-text display-6">Golden Sands Hotel</span>
                    </a>
                </div>

                @await Component.InvokeAsync("Auth")
                <!-- Modal đăng nhập -->
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="loginModalLabel">Đăng nhập</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form method="post" asp-page="Index">
                                    <div class="form-group">
                                        <label for="usernameLogin">Tên đăng nhập</label>
                                        <input type="text" class="form-control" id="usernameLogin" name="usernameLogin" placeholder="Nhập tên đăng nhập" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordLogin">Mật khẩu</label>
                                        <input type="password" class="form-control" id="passwordLogin" name="passwordLogin" placeholder="Nhập mật khẩu" required>
                                    </div>
                                    <div class="form-group form-check">
                                        <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                                        <label class="form-check-label" for="rememberMe">Nhớ mật khẩu</label>
                                    </div>
                                    @if (TempData["ErrorMessage"] != null)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @TempData["ErrorMessage"]
                                        </div>
                                    }
                                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                                </form>


                                <!-- Thêm liên kết quên mật khẩu -->
                                <div class="text-right">
                                    <a href="/Account/ForgotPassword" class="small">Quên mật khẩu?</a>
                                </div>
                            </div>
                            <!-- Thêm liên kết tới modal đăng ký -->
                            <div class="text-center mt-2">
                                <span class="small">
                                    Chưa có tài khoản?
                                    <a href="#" data-toggle="modal" data-target="#registerModal" data-dismiss="modal">Đăng ký</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal đăng ký -->
                <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="registerModalLabel">Đăng ký tài khoản</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" asp-page="Index" asp-page-handler="Register">
                                    <div class="form-group">
                                        <label for="username">Tên đăng nhập</label>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Nhập tên đăng nhập">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Nhập email">
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Số điện thoại</label>
                                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Nhập số điện thoại">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Mật khẩu</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword">Xác nhận mật khẩu</label>
                                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Nhập lại mật khẩu">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-outline-primary">Đăng ký</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </nav>


    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Footer -->
    <footer class="text-light" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-3">
                    <h5>ĐIỀU KHOẢN VÀ QUY ĐỊNH</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="">Điều khoản sử dụng</a></li>
                        <li><a href="">Quy định về xác nhận thông tin đặt phòng</a></li>
                        <li><a href="">Chính sách hoàn trả</a></li>
                        <li><a href="">Quy định về thanh toán</a></li>
                        <li><a href="">Chính sách bảo mật</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-2 col-xl-2 mx-auto">
                    <h5>VỀ CHÚNG TÔI</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="">Chúng tôi hoạt động như thế nào</a></li>
                        <li><a href="">Du lịch bền vững</a></li>
                        <li><a href="">Truyền thông</a></li>
                        <li><a href="">Tuyển dụng nhân sự</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h5>LIÊN HỆ</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home mr-2"></i>Khách sạn Golden Sands Hotel</li>
                        <li><i class="fa fa-envelope mr-2"></i> info@goldensandshotel.com</li>
                        <li><i class="fa fa-phone mr-2"></i>123-456-789</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-3">
                    <h5>KHÁM PHÁ THÊM</h5>
                    <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                    <ul class="list-unstyled">
                        <li><a href="">Chương trình khác hàng thân thiết</a></li>
                        <li><a href="">Ưu đãi theo mùa và dịp lễ</a></li>
                        <li><a href="">Bài viết về du lịch</a></li>
                        <li><a href="">Cho thuê xe hơi</a></li>
                        <li><a href="">Tìm chuyến bay</a></li>
                    </ul>
                </div>
                <div class="col-12 copyright mt-3">
                    <p class="float-left">
                        <a href="#">Quay lại trang chủ</a>
                    </p>
                    <p class="text-right text-muted">Bản quyền thuộc về GoldenSandsHotel</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage) {
                $('#loginModal').modal('show');  // Hiển thị lại modal nếu có lỗi
                $('#errorMessage').text(errorMessage).removeClass('d-none');
            }
        });
    </script>
</body>
</html>


